{% extends 'base.html.twig' %}

{% block title %} {{ settings['title'] }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <img class="logo" src="{{ settings['icon_url'] }}" alt="">
            <span class="title">{{ username }}</span>
        </div>
        <div class="list">
            {% for link in links %}
                <a href="{{ link.url }}" target="_blank" class="link">{{ link.title }}</a>
            {% endfor %}
        </div>
    </div>

    <style>{{ settings['style'] }}</style>
{% endblock %}
