{% extends 'base.html.twig' %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex align-items-center mt-3">
            <img class="icon" src="{{ settings['icon_url'] }}" alt="">
            <h2 class="d-inline-block m-0">{{ username }}</h2>
        </div>
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col">
                {% for link in links %}
                    <a href="{{ link.url }}" target="_blank" class="link">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <style>{{ settings['style'] }}</style>
{% endblock %}
