{% extends 'base.html.twig' %}

{% block title %}Link index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <a class="btn btn-outline-primary" href="/@{{ username }}">@{{ username }}</a>
                <a class="btn btn-primary float-end" href="{{ path('logout') }}">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Links</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Url</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{ link.id }}</td>
                            <td>{{ link.title }}</td>
                            <td>{{ link.url }}</td>
                            <td>
                                <a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('link_new') }}">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
